# Simulated datasets

In [1]:
from torchctrnn.data.simulations import GlucoseData
import pandas as pd

In [2]:
sim = GlucoseData()
df = sim.simulate(10,seed=1234) 
df.head()

     t   glucose_t  glucose_t_obs    obs  insulin_t  dextrose_t  id
0  0.0  125.848949     125.848949   True        0.0         0.0   0
1  0.1  128.216933     128.216933  False        0.0         0.0   0
2  0.2  130.586911     130.586911  False        0.0         0.0   0
3  0.3  131.379341     131.379341  False        0.0         0.0   0
4  0.4  133.056805     133.056805  False        0.0         0.0   0

## Data size

These ...

In [3]:
# 1000,5000 and 10000 trajectories
data_sizes = [1000,5000,10000]
seeds = [1,12,123]
for i,size in enumerate(data_sizes):
    for i in range(0,3):
        sim = GlucoseData()
        df = sim.simulate(int(size*1.2),seed=seeds[i]) 
        df.loc[df.obs == True,'glucose_t_obs_next'] = df.loc[df.obs == True,:].groupby('id')['glucose_t_obs'].shift(-1)
        df.loc[df.obs == True,'t1'] = df.loc[df.obs == True,:].groupby('id')['t'].shift(-1)
        df.loc[df.obs == True,'n'] = df.loc[df.obs == True,:].groupby(['id']).cumcount().add(1)
        df.loc[df.obs == True,'msk'] = 0
        df.loc[df.obs == True,'msk0'] = 0
        df['rn'] = range(0,df.shape[0])
        df.to_csv('../../data/simulation_'+str(size)+'_v'+str(i)+'.csv',index=False)
df.head()

,t,glucose_t,glucose_t_obs,obs,insulin_t,dextrose_t,id,glucose_t_obs_next,t1,n,msk,msk0,rn
0,0.0,128.435437,128.435437,True,0.0,3.736966,0,146.53569,3.9,1.0,0.0,0.0,0
1,0.1,129.660232,129.660232,False,0.0,3.736966,0,NaN,NaN,NaN,NaN,NaN,1
2,0.2,129.685736,129.685736,False,0.0,3.736966,0,NaN,NaN,NaN,NaN,NaN,2
3,0.3,131.520292,131.520292,False,0.0,3.736966,0,NaN,NaN,NaN,NaN,NaN,3
4,0.4,131.374251,131.374251,False,0.0,3.736966,0,NaN,NaN,NaN,NaN,NaN,4

## Measurement error

These ...

In [ ]:
# 5000 trajectories
seeds = [1,12,123]
for i in range(0,3):
    sim = GlucoseData()
    df = sim.simulate(5000*1.2,seed=seeds[i]) 
    df.loc[df.obs == True,'glucose_t_obs_next'] = df.loc[df.obs == True,:].groupby('id')['glucose_t_obs'].shift(-1)
    df.loc[df.obs == True,'t1'] = df.loc[df.obs == True,:].groupby('id')['t'].shift(-1)
    df.loc[df.obs == True,'n'] = df.loc[df.obs == True,:].groupby(['id']).cumcount().add(1)
    df.loc[df.obs == True,'msk'] = 0
    df.loc[df.obs == True,'msk0'] = 0
    df['rn'] = range(0,df.shape[0])
    df.to_csv('../data/simulation_error_v'+i+'.csv',index=False)
df.head()

## Non stationary

(missing data)

In [ ]:
# 5000 trajectories
seeds = [1,12,123]
for i in range(0,3):
    sim = GlucoseData()
    df = sim.simulate(5000*1.2,seed=seeds[i])
    df.loc[df.obs == True,'glucose_t_obs_next'] = df.loc[df.obs == True,:].groupby('id')['glucose_t_obs'].shift(-1)
    df.loc[df.obs == True,'t1'] = df.loc[df.obs == True,:].groupby('id')['t'].shift(-1)
    df.loc[df.obs == True,'n'] = df.loc[df.obs == True,:].groupby(['id']).cumcount().add(1)
    df.loc[df.obs == True,'msk'] = 0
    df.loc[df.obs == True,'msk0'] = 0
    df['rn'] = range(0,df.shape[0])
    df.to_csv('../data/simulation_nonstationary_v'+i+'.csv',index=False)
df.head()